.item-bill-pop {
    width: 35vw;
    height: 57vh;
    position: fixed;
    left: 35vw;
    top: 15vh;
    background: #5e9b88;
    border: 5px solid black;
    border-radius: 35px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;

}

.cancel-item-bill-pop {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: solid black 5px;
    background-color: rgb(216, 44, 44);
    border-radius: 50%;

}

.cancel-icon {
    width: 40px;
    position: absolute;
    left: 0;
    top: 0
}

.item-bill-pop-img {
    width: 200px;
    max-height: 500px;
    background-color: aliceblue;
    margin-left: 40px;
    margin-top: 2vh;
    border: solid black px;

}

.item-bill-pop-header {
    display: flex;
    flex-direction: row;
    background: none;
    justify-content: flex-start;
}

.item-bill-pop-p {
    display: flex;
    flex-direction: row;
    background: none;
    justify-content: space-around;
}

.add-item-bill-btn {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #235945;
    border: solid black 5px;
    margin: 20px;
}

.add-plus {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 70px;

}