:root {
    --primary-color: #DD3522;
    --secondary-color: #DACCA0;
    --secondary1-color: #bdb084;
    --secondary1-color: #aa9b69;
    --third-color: #235945;
    --fourth-color: #1E1E20;
    --fifth-color: #5e9b88;
}