.stock{
    background:none;
}
.stock-table{
    background:none;
    justify-content: stretch;
}
table{
    border:solid black 3px; 
    width: 97%;
    margin:10px;
}
.table-btn{
    border:solid black 2px;
    background: none;
    margin:3px;

}
th{
    border-bottom: black dashed 2px;
}
.stock-header{
    display: grid;
    grid-template-columns: 1fr 6fr;
    background: rgb(0, 0, 0);
    margin:10px;
    max-width:71vw;

}
.search-input{
    width:90%;
    min-width:50vw;
    border:solid black 2px;
    margin:3px; 
    background-color: none;
    position: relative;
    left:10vw;

}
.search-input:focus {
    border-color: rgb(39, 102, 99);
}
.add-stock{
  
    background:none;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.add-item-btn{
    position:relative;
    width:50px;
    height:50px;
    background-color: rgb(75, 128, 75);
    border:solid black 5px;
    justify-content:center;
    margin:10px;

}
.add-img{
    position: absolute;
    width:30px;
    left:5px;
    top:5px
}
.data-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filter-component{
    background-color:none;
    width:73vw;
    height:70px;
    position:absolute;
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cancel{
    width:50px;
    height:50px;
    position: relative;

    border:solid black 5px;
    background-color: rgb(216, 44, 44);
    border-radius: 20%;
    margin:5px;

}
.cancel-icon{
    width:40px;
    position:absolute;
    left:0;

}
.search-table{
 height:30px;
 min-height:30px;

 display: flex;
 flex-direction: row;
 
 
}
