.add-bill {
    background: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 74vw;
    height: 99vh;
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

.add-bill-sections {
    background: none;
    display: grid;
    width: 74vw;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.new-bill-section {


    height: 83vh;
    margin-top: 30px;
    border-right: dotted 5px black;
    display: flex;
    flex-direction: column;
    background: none;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;

}

.old-bills-section {
    background: none;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 98vh;

    overflow-y: hidden;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;


}

.right-section-header {
    background: black;


    position: relative;
    border: black solid 3px;

    height: auto;

    width: 22vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-header {


    background: white;


    position: relative;
    border: black solid 3px;

    height: auto;
    width: 43.9vw;

    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
        z-index: 100000;
        height: auto;
        position: absolute;
        background: rgb(71, 124, 171);
        width: 600px;

    }
}

.filter-bills {

    width: 225px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrange {
    width: 30px;
    height: 50px;
    position: relative;

    border: solid black 5px;
    background-color: #235945;
    border-radius: 5px;
    margin: 3px;

}

.arrange:hover {
    width: 50px;
    height: 50px;
    background-color: #3f886d;
    border: solid rgb(26, 24, 24) 4px;

}

.cancel {
    width: 30px;
    height: 30px;
    position: relative;

    border: solid black 5px;
    background-color: #DD3522;
    border-radius: 20%;
    margin: 2px;

    :hover {
        background-color: #f6311c;
    }

}

.new-bill-space {

    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 50vw;
    min-width: 50vw;
    height: 75vh;
    background: none;

    box-sizing: border-box;



}


.bill-data-box {
    background: black;
    color: white;
    height: 12vh;
    width: 48vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px;




}

.open-save-bill-btn {

    width: 60px;
    height: 60px;
    background-color: #235945;
    border: solid rgb(0, 0, 0) 2px;
    padding: 0;
    margin-left: 5px;

    z-index: 1000;

    :hover {
        background-color: #347b61;
        width: 61px;
        height: 60px;
    }


}

.bill-save-add-plus {

    width: 60px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;

}

.old-bills-space {
    background: none;
    width: 100%;

    height: 88%;
    max-height: 90%;

    overflow-x: none;
}

.bill-items-table {
    background: white;
    position: absolute;
    top: 0;
    margin-top: 10px;
    width: 48vw;
    height: 390px;
    overflow-y: scroll;

    table {
        width: 95%;

        overflow-y: auto;

        background: none;

    }
}

.del-row {
    box-shadow: none;
}

.total-div {
    border-top: dotted black;
    background: white;
    z-index: 100;
    width: 48vw;


}


.total-cell {
    border: dotted #DD3522 2px;
    font-weight: 500;
}