.acc-card{
    width:25vw;
    height:25vh;
    background: rgb(247, 68, 3);
}
.card-img{
 
    background: none;
    position: relative;
    top:0;
    left:0;
    margin: 0;
    padding:0;
    width: 60%;
   

    object-fit: cover;

}

.card-p {
    background:black;
    position: absolute;
    top:0;
    left:0;
    margin: 0;
    padding:0;
    width: 100%;

    object-fit: cover;
    font:white;

    opacity: 0;
    -webkit-animation:flipinx 2s ease 1s 1 normal;
    -moz-animation:flipinx 2s ease 1s 1 normal;
    -ms-animation:flipinx 2s ease 1s 1 normal;
    animation:flipinx 2s ease 1s 1 normal;
  }