.acc-pop{
    width:30vw;
    height:50vh;
    position:fixed;
    left:45vw;
    top:20vh;
    background:rgb(90, 192, 144);
    border:solid black 5px;
    border-radius: 35px;
    z-index: 100000;
}
.acc-pop-header{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.acc-pop-img{
    position: inherit;
    top:0;
    left:0;
    width:10vw;
    background-color:none;
    margin:30px;
    
}
.cancel-acc-pop{
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:0;
    border:solid black 5px;
    background-color: rgb(216, 44, 44);
    border-radius: 50%;

}
.cancel-icon{
    width:40px;
    position:absolute;
    left:0;
    top:0
}
.acc-pop-p{

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}