.dashboard{
    background:none;
}
.accounts{
    display:grid;
 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.add-acc-btn{
    width:100px;
    height:100px;
    background-color: rgb(75, 128, 75);
    border:solid black 5px;
    margin:20px;
}
.add-img-1{
    width:50px;
}