.add-item-pop{
    width:40vw;
    height:70vh;
    position:fixed;
    left:40vw;
    top:20vh;
    background:rgb(189, 189, 189);
    border:solid black 5px;
    z-index: 1000;
}
.cancel-add-item-pop{
    width:50px;
    height:50px;
    position:absolute;
    top:-25px;
    left:-25px;
    border:solid black 5px;
    background-color: rgb(216, 44, 44);
    border-radius: 50%;

}
.cancel-icon{
    width:40px;
    position:absolute;
    left:0;
    top:0
}
.pop-body{
    display:grid;
    grid-template-rows: 1fr 3fr;
    background: aqua;
    width: 100%;
    justify-content: center;
}
.add-account-form{
    display:grid;
    grid-template-rows: repeat(5,1fr);
    justify-content: center;
   

}
.form-label{
    max-width:100%;
    width: 100%;
    justify-content: center;
    background-color: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left:0;
    padding-left:5px;
    
}

.radio-input{
    border:none;
    box-shadow: none;
    
    
}

.input{
  
    border:black solid 3px;
    
  
  }
.input:focus {
    border-color: rgb(39, 102, 99);
}

.radios-pack{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    align-items:end;
    justify-content:space-between;
}
.add-item-parameters{
    display:flex;
    flex-direction:row;
}
.second-radios{
    background:none;
  
}
.labels{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: none;
    width:35vw;
    min-width: 90%;
    
}