@import url('global.css');

.oldbill-pop {
    max-width: 35vw;
    max-height: 60vh;
    overflow: hidden;
    border: 5px solid black;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 5px;
    margin: 35px;
    border-radius: 35px;
    background: #DACCA0;
    z-index: 10000;
    position: fixed;
    top: 12vh;
    left: 30vw;
}

.open-bill-btn {
    width: 7vw;
    height: 7vh;
    padding: 0;
    background-color: black;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}

.cancel-bill-pop {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: solid black 5px;
    background-color: #DD3522;
    border-radius: 50%;
}

.pop-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    max-height: 25vh;
}

.bill-pop-img {

    background: none;

    margin: 5px;
    padding: 0;
    width: 70%;


    object-fit: cover;

}



.bill-pop-table {
    background: white;
    overflow: hidden;
    border: dotted;

    tr {
        background: none;

        td {
            background: none;
            padding: 0;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

}