.oldbill-pop{
    max-width:35vw;
    max-height:75vh;
    
    overflow: auto;
    border: 5px solid black;
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding:20px;
    margin: 10px;;
    border-radius: 35px;
    background: rgb(31, 124, 87);
    z-index: 10000;
    position:fixed;
    top:12vh;
    left:30vw;
}
.open-bill-btn{
    width:7vw;
    height:7vh;
    padding:0;
}
.cancel-bill-pop{
    width:50px;
    height:50px;
    position:absolute;
    top:0px;
    left:0px;
    border:solid black 5px;
    background-color: rgb(216, 44, 44);
    border-radius: 50%;
}
.pop-header{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.pop-img{
 
    background: none;
   
    margin: 0;
    padding:0;
    width: 60%;
   

    object-fit: cover;

}

.pop-p {
    background:none;
    
    margin: 0;
    padding:0;
    width: 100%;

    object-fit: cover;
    font:black;

    opacity: 1;
    -webkit-animation:flipinx 2s ease 1s 1 normal;
    -moz-animation:flipinx 2s ease 1s 1 normal;
    -ms-animation:flipinx 2s ease 1s 1 normal;
    animation:flipinx 2s ease 1s 1 normal;
  }